## Requirements ##

# General
numpy
Pillow
imageio == 2.3.0
six
joblib
tqdm

# PyTorch
torch >= 0.4.0
torchvision

# Required to build PyTorch extensions
cffi

# Tensorboard
tensorflow
tensorboardX

# OpenCV
opencv-python
opencv-contrib-python
