## Requirements ##

# General
numpy
Pillow
imageio == 2.3.0
six
joblib
tqdm

# PyTorch
torch >= 0.4.0
torchvision

# Required to build PyTorch extensions
cffi

# Tensorboard
tensorflow
git+https://github.com/lanpa/tensorboard-pytorch@f76e92be99cb4415c03f474d77ab09915bce6d55

# OpenCV
opencv-python
opencv-contrib-python
